.App{
    text-align: center;
    font-size: 30px;
   
}
.App-title{
    font-size: 50px;
}
.Clock-days,.Clock-hours,.Clock-minutes,.Clock-seconds{
    display: inline;
    margin: 10px;
    background-color: black;
    color: white;
    font-family: 'Germania One', cursive;
    font-size: 40px;
}
.btn{
    height:49px;
    width: 85px;
    margin-bottom: 10px;
    outline: none;
}
.Clock-seconds{
    background-color: black;
    color: red;
}
 input{
    border: 1px solid red;
    outline: none;
    
    color: violet;
}
.App-date{
    margin-top: 20px;
}
::placeholder { 
    color: red;
    opacity: 0.4; 
    text-align: center;
  }
  .App-title h3{
    font-family: 'Germania One', cursive;
    margin-top: 20px;
    font-size: 40px;
  }
.App-title p{
    color: tomato;
    font-size: 30px;
    font-family: 'Germania One', cursive;
}